
* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'menu'
  'main'
  'facts'
  'footer';
  background-color: white;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: purple;
  text-align: center;
  color: #ffffff;
}

.content {
  grid-area: main;
}

header {
  background-color: gray;
  text-align: center;
  border: 5px black;
  border-style: solid;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

a:link {
  color:black
}

a:visited {
  color: black;
}



body {
    position: relative;
    padding-top: 6%;
    background-image: url("Images/image_1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    width: fit-content;
    word-wrap: normal;
    width: 100%;
    height: auto;


}



h3 {
  background: rgba(128, 128, 128, 0.2);
  background-size: auto;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  word-wrap: normal;
  color: #f1f1f1;
  text-align: center;
  font-size:50px;
}

p {
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  word-wrap: normal;
  color: #f1f1f1;
  font-size: 25px;
}


/*
future plans

- work on a blog post section, probably to mostly yap about tornadoes and things
- probably a section for all my photos, and examples of other things
- probably should finish the section for socials too

for the index page, have it so <h3> <a href="">"title"</a> links to the page, then briefly describe the page. Also potentially have it so it lists all "sub-pages" in the page on teh left hand side

  elaborating; lets say i have a page for photos, when you click on a photo, it opens up teh sub-page, which is all about the photo

found a nice website to containerize the site, should help with organizing everything, since im having difficulties with it (tried working on it for a bit, but started to get frustereated (cant tell lol))

https://www.w3schools.com/css/css_rwd_grid.asp
*/