* {
  box-sizing: border-box;

}

body {
  background-image: url("Images/image_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;;
  
  background-color: gray;
  
}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}

.header div {
  position: relative;
  left: 10px;

}

.Body {
  display: flex;
  flex-direction: column;
  margin-top: 150px ;
  margin-left: 15px;
  background-color: rgba(185, 185, 185, 0.1) ;
  background-size: auto;
  border-style: solid;
  border-width: 2px;
  
}

.Body h2 {
  padding-left: 10px;
  font-size: xx-large;
  /*padding-top: 10px;*/
  color: #dddddd;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Body p {
  padding-left: 10px;
  font-size: large;
  /*padding-top: 10px;*/
  color: #dddddd;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  text-indent: 30px;
}

.Body a:link {
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #dddddd;
}

.Body a:visited {
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #dddddd;
}

.Body a:hover {
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: aqua;
}

.Body ul {
  
  color: #dddddd;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*
future plans

- work on a blog post section, probably to mostly yap about tornadoes and things
- probably a section for all my photos, and examples of other things
- probably should finish the section for socials too

for the index page, have it so <h3> <a href="">"title"</a> links to the page, then briefly describe the page. Also potentially have it so it lists all "sub-pages" in the page on teh left hand side

  elaborating; lets say i have a page for photos, when you click on a photo, it opens up teh sub-page, which is all about the photo

found a nice website to containerize the site, should help with organizing everything, since im having difficulties with it (tried working on it for a bit, but started to get frustereated (cant tell lol))

https://www.w3schools.com/css/css_rwd_grid.asp
*/