/*
    sorting out the image nonesense
*/


img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

/* styling the content sections */
.Content {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    border-style: solid;
    border-color: black;
    
}

.Content h1,h2,h3,h4,h4,h6 { /* centering all the headers to the center of the page */
    text-align: center;
    color: #dddddd;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: xx-large;
}

.Content p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;

    color: #dddddd;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    overflow: auto; /* *IMPORTANT, without this, all the images cause it to "pancake" (image inside <p> not included in its size, messing everything up) */
}

/* make sure that ordered/unordered lists are also properly done too in .content {} */

.Content li {
    text-shadow: 
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    color: #dddddd;
    font-size: large;
}

.Content a:link {
    text-shadow: 
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    color: #dddddd;
    font-size: large;
  }
  
.Content a:visited {
    text-shadow: 
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    color: #dddddd;
    font-size: large;
  }
  
.Content a:hover {
    text-shadow: 
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    color: aqua;
    font-size: large;
  }

.Content .centered {
    text-align: center;
}

